$munchingOrange: #f1c232;
$msTake: #e06666;
$notGray: #f3f3f3;
pre {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@mixin flex-x {
  display: flex;
  justify-content: center;
  color: black;
}

@mixin flex-y {
  display: flex;
  align-items: center;
}

.button-clear {
  background: none;
  border: none;
  outline: none;
  &:hover {
    color: $munchingOrange;
  }
}

.todo-basic {
  // Sizing of box
  width: 90%;
  font-size: 1rem;
  padding: 1rem;
  // Styling
  font-family: 'Fira Code', monospace;
  border: none;
  outline: none;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('../fonts/lemonmilk-rg.otf');
}
@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica-rg.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#title-link {
  // We'll use black/white/red/orange since rgb is monopolized by Google lol
  text-decoration: none;
  font-family: 'Lemon Milk';
  font-size: 1rem;
  color: #434343;
  &:hover {
    color: $munchingOrange;
  }
}

// #login-link {
//   text-decoration: none;
//   font-family: 'Open Sans', sans-serif;
//   color: #434343;
//   font-size: 0.7rem;
//   &:hover {
//     color: $munchingOrange;
//   }
// }

#title-bar {
  background-color: $notGray;
  // Makes the title bar stay at the top of the page
  position: sticky;
  top: 0;
  // Adding some padding to the bar so that the links are centered
  padding: 0.5em;
  // Slight shadow for the bar
  box-shadow: 0px 0.1rem 0.2rem #dadada;
  // Center that
  display: flex;
}

.left,
.center {
  // Expand to fill up container
  flex: 1;
  @include flex-y;
  gap: 1rem;
}

.right {
  @include flex-y;
}

#path-area {
  @extend .todo-basic;
  color: gray;
}

#todo-area {
  margin: 1rem;
}

#todo-add {
  @extend .button-clear;
  @extend .todo-basic;
  // .button-clear overrides
  &:hover {
    cursor: pointer;
  }
}

#todo-imp-container {
  display: none;
}

#todo-textarea {
  grid-area: 1 / 1;
  @extend .todo-basic;
  // Prevent resize
  resize: none;
  // Hide scroll
  overflow: hidden;
  color: transparent;
  caret-color: black;
  // Hidden at the beginning
  // display: none;
  &::selection {
    color: #fff2cc;
    background: #fff2cc;
  }
}

#todo-overlay {
  grid-area: 1 / 1;
  // This needs to be set in order for the grid to not expand based on content
  min-width: 0;
  @extend .todo-basic;
  pointer-events: none;
}

.todo-item {
  @extend .todo-basic;
  @include flex-y;
  overflow-wrap: anywhere;
}

.todo-item-bullet {
  @extend .button-clear;
  // margin: 0;
  padding: 0 0.5rem;
  font-family: 'Fira Code', monospace;
  font-size: 1.25rem;
}

.calendar-arrows {
  margin: 0;
  padding: 0 0.2rem;
  @extend .button-clear;
  &:hover {
    cursor: pointer;
    background-color: white;
  }
}

.equal-times {
  display: flex;
}

.calendar-times {
  @extend .button-clear;
  font-family: 'Fira Code', monospace;
  color: gray;
  background: $notGray;
  flex: 1;
  &:hover {
    cursor: pointer;
    background-color: white;
  }
}

#calendar-container {
  display: none;
  background-color: white;
  // Very important code that makes div expand to width of table
  width: auto;
  // Slight shadow for the bar
  box-shadow: 0rem 2px 4px #dadada;
  display: block;
}

.calendar-title {
  display: flex;
  background-color: $notGray;
}

.calendar-header {
  flex: 1;
  font-family: 'Fira Code';
  padding: 0 0.2rem 0;
}

.calendar-table {
  font-family: 'Fira Code';
}

.calendar-table td {
  text-align: center;
  &:hover {
    color: $munchingOrange;
    cursor: pointer;
  }
}

.calendar-table th {
  font-weight: normal;
  color: gray;
  font-size: 0.8rem;
  &:hover {
    color: $munchingOrange;
  }
}

#calendar-selected {
  background-color: $msTake;
}

.no-space {
  display: inline-flex;
}

#wrapper {
  display: grid;
  grid-template:
    'todo-area panel-area' auto
    / minmax(0, 1fr) minmax(0, 1fr);
}

.code-wrapper {
  display: grid;
}

#title-date-time {
  @extend .button-clear;
  // margin: 0;
  padding: 0 0.5rem;
  font-family: 'Open Sans', monospace;
  font-size: 0.7rem;
  color: #434343;
  &:hover {
    cursor: pointer;
  }
}

#title-date-time-label {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0.4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
}

// .data-buttons {
//   @extend .button-clear;
//   padding: 0 0.5rem;
//   font-family: 'Open Sans', monospace;
//   font-size: 0.7rem;
//   color: #434343;
//   &:hover {
//     cursor: pointer;
//   }
// }

#signout {
  display: none;
  @extend .button-clear;
  padding: 0.5rem;
  font-family: 'Open Sans', monospace;
  font-size: 0.7rem;
  color: #434343;
  &:hover {
    cursor: pointer;
  }
}
