pre {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.button-clear, .data-buttons, #title-date-time, .calendar-times, .calendar-arrows, .todo-item-bullet, #todo-add {
  background: none;
  border: none;
  outline: none;
}
.button-clear:hover, .data-buttons:hover, #title-date-time:hover, .calendar-times:hover, .calendar-arrows:hover, .todo-item-bullet:hover, #todo-add:hover {
  color: #f1c232;
}

.todo-basic, .todo-item, #todo-overlay, #todo-textarea, #todo-add, #path-area {
  width: 90%;
  font-size: 1rem;
  padding: 1rem;
  font-family: "Fira Code", monospace;
  border: none;
  outline: none;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/lemonmilk-rg.otf");
}
@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-rg.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#title-link {
  text-decoration: none;
  font-family: "Lemon Milk";
  font-size: 1rem;
  color: #434343;
}
#title-link:hover {
  color: #f1c232;
}

#title-bar {
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
  padding: 0.5em;
  box-shadow: 0px 0.1rem 0.2rem #dadada;
  display: flex;
}

.left,
.center {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#path-area {
  color: gray;
}

#todo-area {
  margin: 1rem;
}

#todo-add:hover {
  cursor: pointer;
}

#todo-imp-container {
  display: none;
}

#todo-textarea {
  grid-area: 1/1;
  resize: none;
  overflow: hidden;
  color: transparent;
  caret-color: black;
}
#todo-textarea::selection {
  color: #fff2cc;
  background: #fff2cc;
}

#todo-overlay {
  grid-area: 1/1;
  min-width: 0;
  pointer-events: none;
}

.todo-item {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.todo-item-bullet {
  padding: 0 0.5rem;
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
}

.calendar-arrows {
  margin: 0;
  padding: 0 0.2rem;
}
.calendar-arrows:hover {
  cursor: pointer;
  background-color: white;
}

.equal-times {
  display: flex;
}

.calendar-times {
  font-family: "Fira Code", monospace;
  color: gray;
  background: #f3f3f3;
  flex: 1;
}
.calendar-times:hover {
  cursor: pointer;
  background-color: white;
}

#calendar-container {
  display: none;
  background-color: white;
  width: auto;
  box-shadow: 0rem 2px 4px #dadada;
  display: block;
}

.calendar-title {
  display: flex;
  background-color: #f3f3f3;
}

.calendar-header {
  flex: 1;
  font-family: "Fira Code";
  padding: 0 0.2rem 0;
}

.calendar-table {
  font-family: "Fira Code";
}

.calendar-table td {
  text-align: center;
}
.calendar-table td:hover {
  color: #f1c232;
  cursor: pointer;
}

.calendar-table th {
  font-weight: normal;
  color: gray;
  font-size: 0.8rem;
}
.calendar-table th:hover {
  color: #f1c232;
}

#calendar-selected {
  background-color: #e06666;
}

.no-space {
  display: inline-flex;
}

#wrapper {
  display: grid;
  grid-template: "todo-area panel-area" auto/minmax(0, 1fr) minmax(0, 1fr);
}

.code-wrapper {
  display: grid;
}

#title-date-time {
  flex: 1;
  padding: 0 0.5rem;
  font-family: "Open Sans", monospace;
  font-size: 0.7rem;
  color: #434343;
}
#title-date-time:hover {
  cursor: pointer;
}

#title-date-time-label {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
}

.data-buttons {
  padding: 0 0.5rem;
  font-family: "Open Sans", monospace;
  font-size: 0.7rem;
  color: #434343;
}
.data-buttons:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
